body{
    background-color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#fio{
    background-color: rgb(96, 184, 224);
    border-style:groove;
}
#city{
    background-color: rgb(105, 230, 112);
    border-style:double;
}
#whishes{
    border-style:solid;
    border-radius: 500px;
    text-shadow: aqua;
    text-shadow:1cm;

}
.education{
    color: red;
    background-color: cadetblue;
    border-style: dashed;
}

.language{
    color: rgb(64, 22, 214);
    background-color: cadetblue;
    border-style: dashed;
}
.footer{
    text-align: center;
    font-style: oblique;
}
.tel{
    color:blueviolet;
}